@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;800&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

ul {
  margin-right: 250px;
}

ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 18px;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  transition: ease 0.3s all 0s;
}

a:hover {
  border-bottom: 1px solid #e5e7eb;
}

.header {
  background: #1f2937;
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  color: #f9faf8;
  font-size: 24px;
  margin-left: 250px;
  text-shadow: 0 0 10px black;
}

.container {
  background: #1f2937;
  height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-container {
  margin-left: 250px;
}

.text-container h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  width: 450px;
  text-shadow: 0 0 10px black;
}

.text-container p {
  font-size: 18px;
  color: #e5e7eb;
  width: 500px;
}

.text-container button {
  background: #3882f6;
  color: #e5e7eb;
  border: none;
  padding: 3px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  transition: ease 0.3s all 0s;
}

button:hover {
  background: black;
  box-shadow: 0 0 5px white;
}

.image-container {
  background: rgb(121, 121, 121);
  color: #e5e7eb;
  margin-right: 250px;
  height: 250px;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container {
  height: 450px;
}

.info-container h3 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 800;
  margin-top: 30px;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.card-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-display p {
  width: 180px;
  text-align: center;
  font-size: 16px;
  margin-top: 5px;
}

.card {
  height: 200px;
  width: 200px;
  border: 3px solid #3882f6;
  border-radius: 15px;
}
